body {
  direction: rtl;
  background: #011 !important;
  color: white;
}

.external-image {
  width: 25px !important;
  -webkit-filter: brightness(3);
  filter: brightness(3);
}

.float-right {
  float: right !important;
}

.main-container {
  width: 100%;
}
.news-item a {
  font-size: 16px;
}

.news-container .news-item a:visited {
  font-size: 10px !important;
  color: darkgrey;
}

font[color="000099"], font[color="#000099"]{
  color: lightgrey!important;
}

span {
  color: white !important;
}

.content-holder {
  position: relative;
  width: 100%;
  color: white;

}
.content-holder.open {
  border:1px solid greenyellow;
  border-radius: 10px;
}

#rotter-refresh button {
  margin: 10px;
  height: 100px;
  width: 100px;
  color: white;
  font-weight: bold;
  background-image: url('images/refresh.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px 100px;
}

img#sb-player {
  position: relative!important;
}

div#sb-counter {
  direction: ltr;
}

font {
  width: 100%;
}

.content-holder table {
  width: 95% !important;
  margin: auto;
}

.content-holder img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

#sorting-options {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  width: 100%;
}

abbr {
  color: hotpink;
  float: left;
}

.odd {
  background: #011;
}

.even {
  background: #012121;
}
