body {
  direction: rtl;
  background: black !important;
  color: white;
}
a:visited {
  color: darkgray;

}
.external-image {
  width: 20px !important;
  float: right;
  margin-left: 5px;
  -webkit-filter: brightness(3);
  filter: brightness(3);
}

.float-right {
  float: right !important;
}

.main-container {
  width: 100%;
}
.odd .news-item > a{
  border-bottom: 1px solid #CCCCCC;
  color: darkorange;
  text-decoration: none;
}

.even .news-item > a{
  border-bottom: 1px solid #CCCCCC;
  color: chocolate;
  text-decoration: none;
}

.news-item a {
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

.news-container {
  width: 100%;
}

.news-container .news-item a:visited {
  font-size: 10px !important;
  color: darkgrey;
}

font[color="000099"], font[color="#000099"]{
  color: lightgrey!important;
}

.content-holder {
  position: relative;
  width: 100%;
  color: white;

}
.content-holder.open {
  border-radius: 10px;
}

#rotter-refresh button {
  margin: 10px 0px 10px 0px;
  height: 100px;
  width: 100px;
  color: white;
  font-weight: bold;
  background: black url('images/refresh.png') no-repeat right top;
  background-size: 100px 100px;
  border: 2px outset darkorange;
  border-radius: 12px;
  -webkit-border-radius: 12px;
}

img#sb-player {
  position: relative!important;
}

div#sb-counter {
  direction: ltr;
}

font {
  width: 100%;
}

.content-holder table {
  width: 98% !important;
  margin: auto;
}

.content-holder img {
  max-width: 100%;
  margin: auto;
}

img {
  max-width: 100%;
}

#sorting-options {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  width: 100%;
}

abbr {
  color: darkorange;
  float: left;
  margin-right: 1gpx;
}

.odd {
  background: black;
}

.even {
  background: #000c00;
}

input#search {
  width:100%;
}
