
html {
  direction: rtl;
  background: black;
  color: white;
}

.news-container {
  float:right;
  width: 670px;
  margin-left:25px;
  margin-right: 120px;
}

.news-container .news-item * {
  max-width: 620px;
  width: auto;
}

* {
  border-radius: 10px;
}

.news-item {
  line-height:30px;
  border: 1px solid gold;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news-item a {
  font-size: 18px;
  font-family: arial, sans-serif;
  color: white;

}

.news-container .news-item a:visited {
  font-size: 10px !important;;
  color: darkgrey;
}

font[color="000099"], font[color="#000099"]{
  color: greenyellow!important;
}

span {
  color: white !important;
}
.external-image {
  width: 25px !important;
  -webkit-filter: brightness(3);
  filter: brightness(3);
}

.content-holder {
  display: none;
}

#rotter-actions {
  position: fixed;
  top:0;
  right: 0;
}

#rotter-refresh {
  float: right;
}

#rotter-refresh button {
  margin: 10px;
  height: 100px;
  width:100px;
  color: white;
  font-weight: bold;
  background-image: url('refresh.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px 100px;
}

.twitter-container {
  float: right;
  width: 40%;
}

.rotter-container {
  width: 800px !important;
  float:right;
}
