<div class="row marketing">

  <div class="app-actions">
    <a ng-if="prevPage" class="previous-page" ng-href="#/live/{{pageNumber-1}}"><i class="fa fa-arrow-circle-right"></i> עמוד קודם</a>
    <a ng-if="list" ng-click="toggleAll(true)"><i class="fa fa-plus-square-o"></i> פתח הכל</a>
    <a ng-if="list" ng-click="toggleAll(false)"><i class="fa fa-minus-square-o"></i> סגור הכל</a>
    <a ng-if="nextPage" class="next-page" ng-href="#/live/{{pageNumber+1}}">עמוד הבא <i class="fa fa-arrow-circle-left"></i></a>
  </div>

  <!-- TODO: Figure out why link isn't showing up-->
  <div ng-repeat="obj in list" class="news-row">
    <h4>
      <img class="no-body-error" src="../images/hss-alert-icon.png" ng-show="!obj.body">
      <a ng-click="obj.show = !obj.show">
        {{ obj.label }} </a>
      <div class="label-actions">
        <h6>
          <a href="{{'http://rotter.net/forum/scoops1/' + obj.om+ '.shtml'}}" target="_blank">
            <img src="images/external.png" class="external-image">
          </a>
          <a href="{{obj.link ? obj.link : 'http://php-rotternews.rhcloud.com/node/' + obj.id }}" target="_blank" >
            <img src="images/internal.png" class="external-image">
          </a>
        </h6>
        <h6>{{ obj.created | dateObject | timeAgo}}</h6>
      </div>
    </h4>
    <p class="animate-show" ng-show="obj.show" ng-bind-html="obj.body | unsafe">
    </p>
  </div>

  <div class="pagination">
    <a ng-if="prevPage" class="previous-page" ng-href="#/live/{{pageNumber-1}}"><i class="fa fa-arrow-circle-right"></i> עמוד קודם</a>
    <a ng-if="nextPage" class="next-page" ng-href="#/live/{{pageNumber+1}}">עמוד הבא <i class="fa fa-arrow-circle-left"></i></a>
  </div>

</div>
