<div class="row marketing">
  <div>
    <a ng-href="#/" ng-click="toggleAll(true)">Open all</a>
    <a ng-href="#/" ng-click="toggleAll(false)">Close all</a>
  </div>
  <div ng-repeat="obj in list" class="news-row">
    <h4>
      <img class="no-body-error" src="../images/hss-alert-icon.png" ng-show="!obj.body">
      <a ng-href="#/" ng-click="obj.show = !obj.show">
        {{ obj.label }} </a>
      <div class="label-actions">
        <h6>{{ obj.created | dateObject | timeAgo}}</h6>
        <h6>
          <a href="http://rotter.net/forum/scoops1/{{obj.om}}.shtml" target="_blank">original</a>
        </h6>
      </div>
    </h4>
    <p class="animate-show" ng-show="obj.show" ng-bind-html="obj.body | unsafe">
    </p>
  </div>

</div>
